:root {
  --main-btn-color: #27496d;
  --font-color: #142850;
}

.App {
  width: 100vw;
  height: 100vh;
  text-align: center;
}

.moveTaskButton, .deleteButton {
  color: var(--main-btn-color);
}

.createNewTaskButton {
  background-color: var(--main-btn-color);
  color: #ebf0f5;
  height: 40px;
  width: 180px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
  margin-top: 20px;
}

.createTaskIcon {
  margin: 0 10px 0 0;
}

.addTaskButton-modal {
  background-color: var(--main-btn-color) !important;
}

.taskTitleInput {
  margin-bottom: 10px;
}

.appHeader {
  font-size: 24px;
}

.taskStatusSection {
  background-color: #ebf0f5;
  min-width: 200px;
  width: 22vw;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.SingleTaskCard {
  display: grid;
  grid-template-rows: auto 50px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  border-radius: 6px;
  box-shadow: grey 0 0 8px;
  width: 90%;
  height: 100px;
  background-color: #ffffff;
  margin: 5px;
}

.moveTaskButton--left {
  grid-row: 2;
  grid-column: 1;
  align-self: end;
  justify-self: start;
  margin-left: 3px;
}

.moveTaskButton--right {
  grid-row: 2;
  grid-column: 5;
  align-self: end;
  justify-self: end;
  margin-right: 3px;
}

.moveTaskButton--up {
  grid-row: 2;
  grid-column: 2;
  align-self: end;
  /*margin-bottom: 2px;*/
}

.moveTaskButton--down {
  grid-row: 2;
  grid-column: 4;
  align-self: end;
  /*margin-bottom: 2px;*/
}

.deleteButton {
  grid-row: 2;
  grid-column: 3;
  align-self: end;
  margin-bottom: 3px;
}

.boardBody {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  margin-top: 10px;
}

.titleLine {
  width: 96%;
  background-color: #ebf0f5;
  height: 1px;
  margin-bottom: 5px;
}

.taskStatusSection-title {
  margin: 10px 0 10px 0;
}